# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace
xcuserdata/
GoogleService-Info.plist

# SwiftPM
.build/
Package.resolved

# Other
*.log
